.trim {

	position: relative;
	left: 240px;
	top:50px;
}

 	


#titulop {

	position: relative;
	right: 10px;
}

#avion {

	width: 30px;
	height:40px ;
	position: relative;
	left:20px;
	display: inline;
}

.titulo1 {

	font-size: 60px;
	margin-bottom: 0px;
}

.subtitulo {

	font-size: 35px;
}

.o {

	font-size: 20px;
}



#volver {
	display: none;
	position: relative;
	top:300px;
	left:-90px;
}


.grafico {

    display: none;
    width: 150px;
    height: 100px;
    position: relative;
    left: -70px;
    top:70px;
}

.gra1 {

	position: relative;
	top: -5px;
}

.gra2 {

	position: relative;
	top: -80px;
}

.gra3 {

	position: relative;
	top: -150px;
}

p {

	position: relative;
	right:-8px;
	top: 5px;
}


img {

	display:none;

}



#chil {

	width: 120px; 
	height:600px;
}

#ar {
	width: 130px;
	height: 620px;
	float: right;
}


#per {
	width: 130px;
	height: 620px;
	float: right;
}

#bol {
	width: 200px;
	height: 620px;
	float: right;
}

#us {
	width: 280px;
	height: 620px;
	float: right;
	position: relative;
	left:90px;
}

#can {
	width: 240px;
	height: 617px;
	float: right;
	position: relative;
	left:100px;
}



